{% extends 'site/site_base.html' %}

{% block title %}
    <title>文章详情</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/blog_system/css/article.css">
{% endblock %}

{% block siteMain %}
    {% include 'article/article_main.html' %}
{% endblock %}

{% block script %}
    <!-- 喜欢和不喜欢的ajax请求 -->
    <script src="/static/blog_system/js/like_ajax.js"></script>
    <script src="/static/blog_system/js/comment_ajax.js"></script>
    <script src="/static/blog_system/js/comment_tree_ajax.js"></script>
    <!-- 返回顶部的js -->
    <script src="/static/blog_system/js/back_to_top.js"></script>
    <!-- 请求文章的属性数据 -->
    <script src="/static/blog_system/js/query_article_attrs.js"></script>

    <script>
        $(function () {
            // 当前文章被展示的时候，触发侧边栏对应文章分类的click
            let categoryName = $('#article-category').text();
            let targetId = '#' + 'nav-category-' + categoryName;
            $(targetId).trigger('click');
        })
    </script>

{% endblock %}
