<div class="form-group search">
    <label for="search-input"></label>
    <input type="search" id="search-input" class="form-control" placeholder="搜索">
</div>

<!-- 一个文章概览面板 -->
<div class="article-panel-exp hidden" target-article-nid="">
    <div class="panel-head">
        <span class="article-panel-create-time"></span>
        <span class="close article-panel-close hidden">&times;</span>
    </div>

    <div class="panel-main">
        <span class="article-panel-title"></span>
    </div>
</div>

<!-- 文章概览面板树 -->
<div id="article-panel-tree"></div>
